@charset "utf-8";
@import "base";

#app {
    height: 100%;
}

#viewport {
    height: 100%;
    overflow: auto;
}

a, a:hover {
    text-decoration: none;
}

article {
    padding: 20px 15px;
    font-size: 14px;
    line-height: 1.8;
    p {
        color: $theme-color;
    }
}

a:focus, button:focus, input:focus {
    outline: 0 none;
}

.wrap-tips {
    background-color: #FFF;
    padding-right: r(15);
    padding-left: r(15);
}

.mod-agreements {
    margin-top: 16px;
    .agreement {
        color: #aab2bd;
        font-size: 12px;
        padding: 0 14px;
        a {
            color: #ff6d3b;
        }
        .checkbox {
            left: 0;
            top: -1px;
            width: 12px;
            height: 12px;
            position: relative;
        }
    }
}

.mod-tips {
    position: relative;
    font-size: 12px;
    line-height: 1.5;
    color: #828282;
    padding: 10px 0 10px 20px;
    a, a:hover {
        color: #828282;
    }
}

.mod-password {
    padding: 5px 15px;
    .ui-password .ui-password-con {
        background-color: #fff;
        border-top-color: #c6c6c6;
        border-left-color: #c6c6c6;
    }
    .rows-text {
        font-size: 14px;
        margin: 100px 0 30px;
        padding-left: 0;
        color: $theme-color;
    }
}


@mixin bank-logo {
    .bank-logo {
        background: url(../../images/sprite-bank.png) 37px 0px;
        width: 37px;
        height: 37px;
        float: left;
        display: inline-block;
        background-size: 148px 148px;
        margin: 3px 0 0 2px;
    }
    &.gs-bank {
        .bank-logo {
            background-position: -37px 0px;
        }
    }
    &.ny-bank {
        .bank-logo {
            background-position: 0px 0px;
        }
    }
    &.zg-bank {
        .bank-logo {
            background-position: -111px -74px;
        }
    }
    &.js-bank {
        .bank-logo {
            background-position: -37px -37px;
        }
    }
    &.zx-bank {
        .bank-logo {
            background-position: 0px -111px;
        }
    }
    &.gd-bank {
        .bank-logo {
            background-position: 0px -74px;
        }
    }
    &.xy-bank {
        .bank-logo {
            background-position: -74px -74px;
        }
    }
    &.ms-bank {
        .bank-logo {
            background-position: -74px -37px;
        }
    }
    &.gf-bank {
        .bank-logo {
            background-position: 0px -37px;
        }
    }
    &.pa-bank {
        .bank-logo {
            background-position: -37px -74px;
        }
    }
    &.yc-bank {
        .bank-logo {
            background-position: -111px 0px;
        }
    }
    &.jt-bank {
        .bank-logo {
            background-position: -74px 0px;
        }
    }
    &.zs-bank {
        .bank-logo {
            background-position: -111px -37px;
        }
    }
    &.hx-bank {
        .bank-logo {
            background-position: -37px -111px;
        }
    }
    &.pf-bank {
        .bank-logo {
            background-position: -74px -111px;
        }
    }
}

.bank-item {
    margin: 15px;
    padding: 12px 12px 0;
    border-radius: 5px;
    background-image: linear-gradient(-90deg, #DA4453 0%, #ED5565 100%);
    &.no-bank {
        background: #fff none;
        text-align: center;
        padding: 38px 0;
        .add-icon {
            width: 32px;
            height: 32px;
            display: inline-block;
            background: url("../../images/icon-add.png") no-repeat;
            background-size: 32px;
        }
        p {
            color: #999;
        }
    }
    &.gs-bank {
        background-image: linear-gradient(90deg, #E65D66 0%, #E1517D 100%);
    }
    &.ny-bank {
        background-image: linear-gradient(90deg, #27B08E 0%, #1AA0B8 100%);
    }
    &.zg-bank {
        background-image: linear-gradient(90deg, #DA4453 0%, #ED5565 100%);
    }
    &.js-bank {
        background-image: linear-gradient(90deg, #4665C4 0%, #4E79E5 100%);
    }
    &.zx-bank {
        background-image: linear-gradient(90deg, #CE4340 0%, #D03957 100%);
    }
    &.gd-bank {
        background-image: linear-gradient(90deg, #F6BB42 0%, #FFCE54 100%);
    }
    &.xy-bank {
        background-image: linear-gradient(90deg, #4A64DC 0%, #5D77EC 99%);
    }
    &.ms-bank {
        background-image: linear-gradient(90deg, #37BC9B 0%, #48CFAD 100%);
    }
    &.gf-bank {
        background-image: linear-gradient(90deg, #C63B41 0%, #D75252 100%);
    }
    &.pa-bank {
        background-image: linear-gradient(90deg, #FC6E51 0%, #E9573F 100%);
    }
    &.yc-bank {
        background-image: linear-gradient(90deg, #4BB161 0%, #60D97B 100%);
    }
    &.jt-bank {
        background-image: linear-gradient(90deg, #153A99 0%, #2852BF 100%);
    }
    &.zs-bank {
        background-image: linear-gradient(90deg, #B22633 0%, #DE404E 98%);
    }

    @include bank-logo;

    .item-main {
        position: relative;
        border-bottom: 1px solid #D8D8D8;
        span {
            color: #fff;
            &.phone-num4 {
                position: absolute;
                top: 3px;
                right: 0;
                font-size: 12px;
            }
        }
        .bank-name {
            color: #fff;
            font-size: 16px;
            padding-left: 10px;
            width: 200px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .bank-num4 {
            color: #fff;
            font-size: 22px;
            line-height: 50px;
            padding-left: 50px;
        }
    }
    .item-extra {
        width: 100%;
        color: #fff;
        display: table;
        table-layout: fixed;
        span {
            font-size: 12px;
            text-align: right;
            line-height: 40px;
            display: table-cell;
            &:first-child {
                text-align: left;
            }
        }
    }
}

.bank{
    @include bank-logo;
    padding: 10px 10px;
    background-color: #fff;
    height: 62px;
    border-bottom: 1px solid #D8D8D8;
    &.disabled {
        display: none;
    }
    p {
        padding-left: 50px;
        color: #999;
        font-size: 12px;
        &.bank-name {
            font-size: 14px;
            color: $theme-color;
            height: 24px;
            line-height: 24px;
        }
    }
}
.bottom-tips {
    padding: 18px 18px;
    color: #999;
    font-size: 12px;
}

.buy-bank {
    @extend .bank;
    margin-bottom: 10px;
}
.redeem-bank {
    @extend .bank;
}

.account-box {
    text-align: center;
    position: absolute;
    bottom: 20px;
    width: 100%;
    a {
        color: #FA504D;
        display: inline-block;
        height: 32px;
        line-height: 32px;
        vertical-align: top;
    }
}

//result step
.detail-step {
    background-color: #fff;
    overflow: hidden;
    padding-bottom: 20px;
    li {
        margin-left: 15px;
        padding-left: 50px;
        position: relative;
        height: 40px;
        margin-top: 18px;
        .step-tips {
            padding-top: 5px;
            color: #666;
            font-size: 14px;
        }
        .time {
            @extend .step-tips;
            font-size: 12px;
        }
        .step-icon {
            background: url("../../images/sprite-step.png") no-repeat;
            width: 18px;
            height: 18px;
            position: absolute;
            top: 6px;
            left: 8px;
            z-index: 10;
            background-size: 72px;

            &.success-icon{
                background-position: -54px 0;
            }
            &.calendar-icon{
                background-position: 0 -36px;
            }
            &.money-icon{
                background-position: -18px -36px;
            }
            &.clock-icon{
                background-position: -18px -18px;
            }
            &.smile-icon{
                background-position: -36px -18px;
            }
        }
        .step-line{
            background: url("../../images/sprite-step.png") no-repeat 0 -108px;
            width: 2px;
            height: 64px;
            position: absolute;
            top: -50px;
            left: 16px;
        }

        &.active {
            .step-tips, .time {
                color: #599bf0;
            }
            .step-icon {
                &.success-icon{
                    background-position: -36px 0;
                }
                &.calendar-icon{
                    background-position: -18px 0;
                }
                &.money-icon{
                    background-position: 0 0;
                }
                &.clock-icon{
                    background-position: 0 -18px;
                }
                &.smile-icon{
                    background-position: 36 -36px;
                }
            }
            .step-line{
                background-position: -4px -108px;
            }

        }
    }
}

.p-title {
    background-color: #fff;
    padding: 20px 0 5px 18px;
    .success-icon {
        background: url("../../images/sprite-step.png") no-repeat -36px 0;
        width: 18px;
        height: 18px;
        float: left;
        z-index: 10;
        background-size: 72px;
        margin-right: 4px;
    }
}

.result-fail-box {
    background-color: #fff;
    padding: 18px;
    dt {
        color: $theme-red;
        font-size: 16px;
        .error-icon {
            background: url("../../images/icon-error.png") no-repeat;
            display: inline-block;
            width: 18px;
            height: 18px;
            background-size: 18px;
            vertical-align: middle;
            margin: -2px 6px 0 0;

        }
    }
    dd {
        padding-left: 25px;
        color: #666;
        margin-top: 6px;
    }
}

.img-upload-box {
    background-color: #fff;
    overflow: hidden;
    font-size: 12px;
    text-align: center;
    li {
        float: left;
        width: r(96);
        padding: r(14);
        box-sizing: content-box;
        position: relative;
        height: 120px;
    }
    .a-upload {
        height: r(90);
        width: r(90);
        position: relative;
        border: 1px dotted #ddd;
        border-radius: 4px;
        overflow: hidden;
        display: inline-block;
        background: url(../../images/icon-add.png) no-repeat r(26) r(26);
        background-size: 35px;
        input {
            position: absolute;
            font-size: 100px;
            right: 0;
            top: 0;
            opacity: 0;
            filter: alpha(opacity=0);
            z-index: 10;
        }
        img {
            position: absolute;
            font-size: 100px;
            right: 0;
            top: 0;
            width: 100%;
        }
    }

}

.example-guide {
    font-size: 12px;
    margin: 10px 0 0 18px;
    img {
        width: 14px;
        vertical-align: bottom;
    }
    a {
        color: $theme-blue;
        height: 12px;
        line-height: 12px;
        vertical-align: bottom;
    }
}

.img-guide-box {
    border-radius: 5px;
    padding: r(18);
    img {
        width: r(339);
    }
    p {
        text-align: center;
        margin: 5px 0 15px;
    }
}

.info-table {
    background: #fff;
    color: #aab2bd;
    padding: 10px 0;
    ul {
        border-bottom: 1px solid #eee;
        margin: 0 16px 10px;
        padding-bottom: 10px;
    }
    li {
        text-align: right;
        line-height: 2;
        overflow: hidden;
    }
    label {
        float: left;
        margin-right: 50px;
        color: #333;
    }
    p {
        margin: 10px 16px;
        text-align: justify;
        background-position: 0 10%;
        line-height: 1.5;
    }
}

.progress-bar {
    text-align: center;
    padding: 20px 0;
    height: 82px;
    position: relative;
    background: #fff;
    z-index: 0;
    border-bottom: 1px solid #eee;
    span {
        position: absolute;
        margin: 0 auto;
        display: inline-block;
        text-align: center;
        width: 100%;
        margin-left: -50%;
    }

    &.step-1 {
        .bar-con {
            em:nth-child(1) {
                background: $theme-orange;
                color: #fff;
            }
        }
        @at-root &:after {
            width: 20%;
        }
    }

    &.step-2 {
        .bar-con {
            em:nth-child(1), em:nth-child(2) {
                background: $theme-orange;
                color: #fff;
            }
        }
        @at-root &:after {
            width: 40%;
        }
    }

    &.step-3 {
        .bar-con {
            em:nth-child(1), em:nth-child(2), em:nth-child(3) {
                background: $theme-orange;
                color: #fff;
            }
        }
        @at-root &:after {
            width: 60%;
        }
    }

    &.step-4 {
        .bar-con {
            em:nth-child(1), em:nth-child(2), em:nth-child(3), em:nth-child(4) {
                background: $theme-orange;
                color: #fff;
            }
        }
        @at-root &:after {
            width: 62%;
        }
    }

    .bar-bg {
        z-index: 1;
        display: none;
        em {
            width: 40px;
            height: 40px;
            text-align: center;
            display: inline-block;
            margin: 0 18px;
            color: #d3d3d3;
            border: 1px solid #eee;
            position: relative;
            border-radius: 20px;
            z-index: 10;
            background: #fff;
        }
    }
    .bar-con {
        z-index: 4;
        em {
            display: inline-block;
            width: 30px;
            height: 30px;
            border-radius: 15px;
            text-align: center;
            background: #eee;
            font-style: normal;
            line-height: 30px;
            margin: 5px 23px;
            color: #d3d3d3;
        }

        &.select em {
            background: #ff794b;
            color: #fff;
        }
    }

/*    &:before {
        top: 44%;
        left: 20%;
        width: 60%;
        height: 6px;
        border: 1px solid #eee;
        content: " ";
        background: #fff;
        display: block;
        position: absolute;
        z-index: 2;
    }
*/
    &:after {
        top: 48%;
        left: 19%;
        width: 60%;
        height: 2px;
        content: " ";
        background: $theme-orange;
        display: block;
        position: absolute;
        z-index: 3;
    }
}

.mod-uploadimage {
    text-align: left;
    font-size: 14px;
    color: #282828;
    background: #fff;
    padding: 15px 15px 25px;
    ul {
        padding: 0 0 15px;
        overflow: hidden;
    }
    li {
        display: inline-block;
        width: 45%;
        &:nth-child(1) {
            float: left;
        }
        &:nth-child(2) {
            float: right;
        }
    }
    span {
        display: block;
        margin-top: 10px;
        width: 100%;
        height: 208px;
        overflow: hidden;

        background: #eef1f2 url("../../images/icon-add.png") no-repeat 50% 50%;
        background-size: 21px;

        img {
            width: 100%;
            height: 100%;
        }
    }
}

.mod-info {
    margin: 10px 15px;
    text-align: justify;
    font-size: 12px;
    background: url("../../images/icon-info.png") no-repeat 0 10%;
    line-height: 1.4;
    background-size: 12px;
    padding-left: 20px;
    color: #999999;
}

.result-success {
    text-align: center;

    p {
        font-size: 14px;
        line-height: 1.5;
        margin: 10px 0;
        color: #999;
    }
    .tip {
        text-align: center;
        font-size: 22px;
        padding-bottom: 40px;
        padding-top: 150px;
        background-size: 22%;
        background: #fff url("../../images/success@1x.png") no-repeat 50% 20%;
        background-size: 20%;
        p {
            text-align: center;
        }
    }
    .info {
        background: #fff;
        padding: 0 15px;
        color: #282828;
        margin-bottom: 20px;
        header {
            border-bottom: 1px solid #eee;
            text-align: left;
            line-height: 2;
            span {
                font-size: 16px;
                border-bottom: 1px solid red;
                height: 30px;
                line-height: 2;
                display: inline-block;
                position: relative;
                top: 2px;
            }
        }

        footer {
            p {
                text-align: right;
                line-height: 2;
                overflow: hidden;
            }
            label {
                float: left;
                margin-right: 50px;
                color: #333;
            }
            span {
                text-align: right;
            }
        }
    }
}

.result-failure, .result-processing {
    height: 100%;
    background: #fff;
    p {
        font-size: 14px;
        line-height: 1.5;
        margin-top: 10px;
        color: #999;
    }
    .tip {
        text-align: center;
        font-size: 22px;
        padding-bottom: 40px;
        padding-top: 150px;
        background-size: 22%;
        background: #fff url("../../images/failure@1x.png") no-repeat 50% 20%;
        background-size: 20%;

        position: absolute;
        top: 22%;
        left: 50%;
        width: 100%;
        margin-left: -50%;
    }
}

.result-processing {
    .tip {
        background: #fff url("../../images/qk-loading.png") no-repeat 50% 20%;
        background-size: 20%;
    }
}

.mod-relation {
    position: relative;
    input {
        position: relative;
        z-index: 1;
    }
    .mod-relation-select {
        position: absolute;
        z-index: 10;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
    }
}

.tip-info {
    background: url("../../images/icon-info.png") no-repeat 0 50%;
    background-size: 12px;
    padding-left: 20px;
    font-size: 12px;
    line-height: 15px;
    color: #999999;
}


.qk-qrcode {
    text-align: center;
    img {
        width: 88px;
        height: 88px;
        display: inline-block;
    }
}

.dotting {
    display: inline-block;
    min-width: 2px;
    min-height: 2px;
    box-shadow: 2px 0 currentColor, 6px 0 currentColor, 10px 0 currentColor;
    -webkit-animation: dot 4s infinite step-start both;
    animation: dot 4s infinite step-start both;
    *zoom: expression(this.innerHTML='...');

    &.close {
        display: none;
    }

    &:before {
        content: '...'
    }

    &::before {
        content: ''
    }

    @at-root :root &{
        margin-right: 8px
    }

    @at-root {

        @-webkit-keyframes dot {
            25% {
                box-shadow: none
            }
            50% {
                box-shadow: 2px 0 currentColor
            }
            75% {
                box-shadow: 2px 0 currentColor, 6px 0 currentColor
            }
        }

        @keyframes dot {
            25% {
                box-shadow: none
            }
            50% {
                box-shadow: 2px 0 currentColor
            }
            75% {
                box-shadow: 2px 0 currentColor, 6px 0 currentColor
            }
        }
    }

}
